.dev-info {
    margin-left: 30px;
    position: relative;
    i {
        position:absolute;
        left: -30px;
        font-size: 1.3em;
    }
}
.bottom-border {
    border-bottom: 1px solid #555e6c;
}