* {
  font-weight: 400 !important;
}
.transparent-input.form-control {
  padding-right: 92px;
  text-align: center;
}

.logo {
  margin-top: 10%;
}

.div-user-input {
  margin-top: 10%;
}

.div-button {
  margin-top: 10%;
}

.button-experd {
  width: 100%;
  height: 70px;
  font-size: 2em;
}

.input-group-addon i {
  font-size: 1.5em;
}
