<div class="btn-toolbar mb-2 float-right" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group" role="group" aria-label="First group">
    <button type="button" class="btn btn-block button-experd button-white btn-lg" (click)="lgModal.show()">Import Data</button>
  </div>
  <div class="btn-group" role="group" aria-label="Second group">
    <button type="button" class="btn btn-block button-experd button-white btn-lg" (click)="exportData()">Export Data</button>
  </div>
  <div class="btn-group" role="group" aria-label="Third group">
    <button type="button" class="btn btn-block button-experd button-white btn-lg" (click)="openReport()">Generate Report</button>
  </div>
</div>
<table class="w-100 h-100">
  <thead>
    <tr>
      <th *ngFor="let item of columns" (click)="sortBy(item)" [class.pointer-hand]="item.sortAble">{{item.title}}
        <i *ngIf="item.sortAble" class="fa" [class.fa-sort-asc]="item.direction == 'desc'"
        [class.fa-sort-desc]="item.direction == 'asc'" [class.fa-sort]= "item.direction == ''" aria-hidden="true"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td class="experd-color"><a [routerLink]="['employee', employee.id, 'profile']">{{employee.name}}</a> </td>
      <td class="experd-white">{{employee.division}}</td>
      <td class="experd-white">{{employee.position}}</td>
      <td class="experd-white">{{employee?.employeeProfileHistories[0]?.profileStamp}}</td>
      <td class="experd-white">{{ getTasks(false, employee?.employeeTasks) }}</td>
      <td class="experd-white">{{ getTasks(true, employee?.employeeTasks) }}</td>
      <td class="experd-white">{{employee.teamCount}}</td>
      <td class="experd-white">{{employee.dob | age}}yo</td>
      <td class="experd-white">{{employee.sex}}</td>
      <td class="experd-white">{{employee.joinDate | date: 'd MMM y'}}</td>
      <td class="experd-white">{{employee?.assignedBy.length}}</td>
      <td class="experd-white"><i class="fa fa-check experd-color" aria-hidden="true" *ngIf="employee.doEvaluateCompetence == true"></i></td>
      <td class="experd-white"><i *ngFor="let i of [1,2,3,4,5]" class="fa experd-color" [ngClass]="{'fa-star': +employee.overallRate >= i, 'fa-star-o': +employee.overallRate < i }"
          aria-hidden="true"></i></td>
    </tr>
  </tbody>
</table>
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Import Data</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h3>Select files</h3>
              Multiple
              <input type="file" ng2FileSelect [uploader]="uploader" multiple />
              <br/> Single
              <input type="file" ng2FileSelect [uploader]="uploader" />
            </div>
            <div class="col-md-8" style="margin-bottom: 40px">
              <h3>Upload queue</h3>
              <p>Queue length: {{ uploader?.queue?.length }}</p>
              <table class="table">
                <thead>
                  <tr>
                    <th width="50%">Name</th>
                    <th *ngIf="uploader.options.isHTML5">Size</th>
                    <th *ngIf="uploader.options.isHTML5">Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="uploader.options.isHTML5">
                      <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                      </div>
                    </td>
                    <td class="text-center">
                      <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                      <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                      <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                      <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                      <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                      <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div>
                <div>
                  Queue progress:
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                  </div>
                </div>
                <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
